@use './variables' as *;
// 强制所有元素使用"边框盒模型" (最重要的一行代码)
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: $color-bg-body; // 使用上面定义的变量
  color: $color-text-main;
  -webkit-font-smoothing: antialiased; // 让字体在 Mac 上更清晰
}

// 去掉链接默认的下划线
a {
  text-decoration: none;
  color: inherit;
}

// 让列表默认没圆点
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
