.container {
  padding-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;

  h2 {
    margin-bottom: 0 !important;
  }
}

.date {
  display: flex;
  align-items: center;
  gap: 8px;
}
